@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SuperStore</h1>
    <p class="lead">We are a oversized store that has everything you will ever need!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We offer a wide variety of options to help you find what you are looking for.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out our new locations!</h2>
        <p>Look and see if there is a SuperStore near you!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need help?</h2>
        <p>Just ask! Go to our contact page to contact us in one of three ways!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>